.home__bg {
    background-image: url("D:\Mern Stack Project ChatApp\mern-chat-frontend-master\src\assets\6346.png");
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
    
}
