.login__bg {
    background-image: url("D:\Mern Stack Project ChatApp\mern-chat-frontend-master\src\assets\575.jpg");
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
